
@import "react-toolbox/components/colors";
@import "react-toolbox/components/globals";
@import "~ui-styles/colors";

.topBar {
    background-color: $cf-color-topbar-background;
    background: linear-gradient(to bottom, $cf-color-topbar-background 0%, $cf-color-topbar-background2 100%);
    color: $color-white;

    .iconMenu {
        margin-left: auto;
        position: relative;
        .menuContainer {
            position: relative;
        }
    }

    .topRightButton {
        margin-left: auto;
        text-transform: none !important;
    }

    .userAvatar {
        width: $unit * 2;
        height: $unit * 2;
        margin-top: -3px;
    }

    img.userAvatar {
        vertical-align: middle;
    }
}
