
@import "react-toolbox/components/colors";
@import "react-toolbox/components/globals";

.topBar {
    background-color: $color-white;
    color: $color-black;

    .iconMenu {
        margin-left: auto;
    }

    .topRightButton {
        margin-left: auto;
    }

    .userAvatar {
        width: $unit * 2;
        height: $unit * 2;
        margin-top: -3px;
    }
}
