@import "react-toolbox/components/colors";
@import "react-toolbox/components/globals";
@import "~ui-styles/colors";

.link {
    cursor: pointer;

    &:link, &:visited {
        color: $color-text;
    }

    &:hover {
        color: $cf-color-selected;
    }
}
