{
    "flowctrl": {
        "web": {
            "port": "9191"
        }
    },
    "baselinegen": {
        "web": {
            "port": "9797"
        }
    },
    "userrepo": {
        "web": {
            "port": "9292"
        }
    },
    "eventrepo": {
        "web": {
            "port": "9090"
        }
    },
    "logrepo": {
        "lb": {
            "exchange": {
                "name": "log",
                "type": "topic",
                "options": {
                    "durable": true
                }
            },
            "queue": {
                "name": "LogRepo-lines",
                "options": {
                    "durable": true
                }
            }
        },
        "web": {
            "port": 9696
        }
    },
    "coderepo": {
        "web": {
            "port": 9393
        }
    },
    "artifactrepo": {
        "web": {
            "port": 9999
        }
    },
    "exec": {
        "logRepo": {
            "mb": {
                "exchange": {
                    "name": "log",
                    "type": "topic",
                    "options": {
                        "durable": true
                    }
                }
            }
        },
        "web": {
            "port": 9494
        }
    },
    "ui": {
        "web": {
            "port": 9898
        }
    },
    "dataresolve": {
        "web": {
            "port": 8989
        }
    }
}
