
.iframe {
    width: 100%;
}


.log {
    font-size: 1.2rem;
    font-family: "Roboto Mono";
    white-space: pre;
    line-height: 1.5rem;
    display: block;
    overflow: auto;
}

.centeredButtons {
    text-align: center;
}
