{
    "root": true,
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module",
        "ecmaFeatures": {
        }
    },
    "env": {
        "node": true,
        "es6": true
    },
    "rules": {
        "space-before-function-paren": [ "error", { "anonymous": "ignore", "named": "never" } ],
        "no-empty": [ "error", { "allowEmptyCatch": true } ],
        "space-in-parens": "error",
        "space-unary-ops": "error",
        "comma-dangle": "error",
        "brace-style": [ "error", "1tbs", { "allowSingleLine": true } ],
        "no-multi-str": "error",
        "key-spacing": "error",
        "space-infix-ops": "error",
        "keyword-spacing": "error",
        "space-before-blocks": "error",
        "wrap-iife": "error",
        "array-bracket-spacing": [ "error", "always" ],
        "comma-style": "error",
        "eol-last": "error",
        "camelcase": "error",
        "semi": "error",
        "indent": [ "error", 4 ],
        "quotes": "error",
        "prefer-const": "error",
        "no-ex-assign": "error",
        "no-extra-boolean-cast": "error",
        "no-extra-semi": "error",
        "no-obj-calls": "error",
        "no-sparse-arrays": "error",
        "no-template-curly-in-string": "error",
        "no-unexpected-multiline": "error",
        "no-unsafe-finally": "error",
        "no-unreachable": "error",
        "no-unsafe-negation": "error",
        "use-isnan": "error",
        "valid-jsdoc": "error",
        "valid-typeof": "error",
        "curly": "error",
        "dot-notation": "error",
        "eqeqeq": "error",
        "no-else-return": "error",
        "no-eq-null": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-global-assign": "error",
        "no-implied-eval": "error",
        "no-invalid-this": "error",
        "no-iterator": "error",
        "no-lone-blocks": "error",
        "no-multi-spaces": "error",
        "no-new-wrappers": "error",
        "no-new-func": "error",
        "no-proto": "error",
        "no-redeclare": "error",
        "no-self-assign": "error",
        "no-self-compare": "error",
        "no-sequences": "error",
        "no-throw-literal": "error",
        "no-unmodified-loop-condition": "error",
        "no-useless-call": "error",
        "no-useless-concat": "error",
        "no-void": "error",
        "no-with": "error",
        "radix": "error",
        "yoda": "error",
        "no-delete-var": "error",
        "no-undef-init": "error",
        "no-undef": "error",
        "no-undefined": "error",
        "no-unused-vars": "error",
        "no-use-before-define": "error",
        "block-spacing": "error",
        "comma-spacing": "error",
        "func-call-spacing": "error",
        "jsx-quotes": "error",
        "linebreak-style": "error",
        "lines-around-directive": "error",
        "new-cap": "error",
        "new-parens": "error",
        "newline-before-return": "error",
        "no-array-constructor": "error",
        "no-lonely-if": "error",
        "no-mixed-spaces-and-tabs": "error",
        "no-mixed-operators": "error",
        "no-multiple-empty-lines": "error",
        "no-new-object": "error",
        "no-tabs": "error",
        "no-trailing-spaces": "error",
        "no-unneeded-ternary": "error",
        "no-whitespace-before-property": "error",
        "object-curly-spacing": [ "error", "always" ],
        "one-var-declaration-per-line": "error",
        "operator-linebreak": "error",
        "padded-blocks": [ "error", "never" ],
        "semi-spacing": "error",
        "spaced-comment": "error",
        "arrow-body-style": [ "error", "as-needed", { "requireReturnForObjectLiteral": true } ],
        "arrow-parens": "error",
        "arrow-spacing": "error",
        "constructor-super": "error",
        "generator-star-spacing": [ "error", { "before": false, "after": true } ],
        "no-class-assign": "error",
        "no-const-assign": "error",
        "no-dupe-class-members": "error",
        "no-duplicate-imports": "error",
        "no-new-symbol": "error",
        "no-this-before-super": "error",
        "no-useless-rename": "error",
        "no-var": "error",
        "prefer-arrow-callback": "error",
        "prefer-rest-params": "error",
        "prefer-spread": "error",
        "prefer-template": "error",
        "template-curly-spacing": "error"
    }
}
