@import "react-toolbox/components/colors";
@import "react-toolbox/components/globals";
@import "~ui-styles/colors";

$tag-base-padding: $unit / 2;
$tag-base-border-radius: $tag-base-padding;

.tagBase {
    background-color: $cf-color-pane-background;
    color: $color-white;
    padding: $tag-base-padding $unit;
    border-radius: $tag-base-border-radius;
    font-size: $font-size-tiny;
    font-weight: $font-weight-semi-bold;
    display: inline-block;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
