
@import "react-toolbox/components/colors";
@import "react-toolbox/components/globals";
@import "~ui-styles/colors";
@import "~ui-styles/common";

.chip {
    background-color: $palette-grey-300 !important;
    cursor: pointer;
    padding-left: 0 !important;

    transition: color 0.3s, background-color 0.3s;

    .avatar {
        display: inline-block;
        width: 3.2rem;
        height: 3.2rem;
        margin-right: $unit;

        border-radius: 50%;
        background-color: $palette-blue-500;
        color: white;
    }

    &:hover {
        background-color: $palette-grey-500;
        color: $cf-color-selected;

        transition: color 0.1s, background-color 0.1s;
    }
}
