
@import "react-toolbox/components/colors";
@import "react-toolbox/components/globals";
@import "react-toolbox/components/mixins";
@import "~ui-styles/colors";

.appMenu {
    background: $cf-color-pane-background;
    background: linear-gradient(to bottom, $cf-color-pane-background 0%, $cf-color-pane-background2 100%);

    color: $cf-color-pane-text;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: $baseline-grid * 40;
    padding: $layout-gutter-width;
    margin-top: $standard-increment-desktop;
    overflow: auto;

    h1 {
        opacity: 0.8;
        font-size: 3.2rem;
        font-weight: $font-weight-bold;
        color: $cf-color-pane-text;
        margin-bottom: $layout-gutter-width;
        text-transform: uppercase;
    }

    .menuItem {
        display: block;
        width: 100%;
        text-align: left;
        color: $cf-color-pane-text !important;
        text-transform: none;
        font-size: $font-size-normal;
        font-weight: $font-weight-normal;
        border-left: 6px solid transparent;
        padding-left: -6px;
        transition-timing-function: $animation-curve-default;
        transition-duration: $animation-duration;
        transition-property: border-left-color;
    }

    .menuItemActive {
        @extend .menuItem;

        border-left-color: $cf-color-selected;
        border-radius: 0;
    }

    .appIcon {
        font-size: $layout-gutter-width * 8;
        position: absolute;
        bottom: $baseline-grid * 2;
        right: $baseline-grid * 2;
        color: $cf-color-pane-text;
        transform: rotate(5deg);
        opacity: 0.5;
    }


}
