
@import "react-toolbox/components/colors";
@import "react-toolbox/components/globals";
@import "react-toolbox/components/mixins";
@import "~ui-styles/colors";

.appMenu {
    background: $cf-color-pane-background;
    background: linear-gradient(to bottom, $cf-color-pane-background 0%, $cf-color-pane-background2 100%);

    color: $cf-color-pane-text;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: $baseline-grid * 40;
    margin-top: $standard-increment-desktop;
    border-right: 1px solid $cf-color-pane-border;
    overflow: auto;

    .header {
        background-color: $cf-color-pane-header-background;
        padding: $layout-gutter-width;
        margin-bottom: $unit;
        text-align: center;

        .headerText {
            color: $cf-color-pane-header-text;
            font-size: $baseline-grid * 4;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
        }

        .headerImage {
            width: $baseline-grid * 16;
            height: $baseline-grid * 16;
            margin-bottom: $layout-gutter-width-sm;
        }
    }

    .menuItem {
        display: block;
        width: 100%;
        height: auto;
        text-align: left;
        color: $cf-color-pane-text !important;
        text-transform: none;
        font-size: $font-size-normal;
        font-weight: $font-weight-normal;
        border-right: 6px solid transparent;
        padding: $unit $layout-gutter-width;
        transition-timing-function: $animation-curve-default;
        transition-duration: $animation-duration;
        transition-property: border-left-color;
    }

    .menuItemActive {
        @extend .menuItem;

        border-right-color: $cf-color-selected;
        border-radius: 0;
    }
}
