
@import "react-toolbox/components/colors";
@import "react-toolbox/components/globals";
@import "~ui-styles/colors";

.card {
    margin-bottom: $layout-gutter-width-sm;
}

.comment {
    font-size: $font-size-small;
    font-family: "Roboto Mono";
    color: $color-text-secondary;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

.log {
    font-size: 1.2rem;
    font-family: "Roboto Mono";
    white-space: pre;
    line-height: 1.5rem;
    display: block;
    overflow: auto;
}

.input {
    padding: $unit * 1.6;
}

.monospace {
    font-family: "Roboto Mono";
}

.link {
    cursor: pointer;

    &:hover {
        color: $cf-color-selected;
    }
}

.hiddenText {
    float: right;
    font-size: $font-size-small * 0.9;

    span {
        font-family: "Roboto Mono";
    }
}

.postButton {
    position: absolute;
    top: $layout-gutter-width-sm;
    right: $layout-gutter-width-sm;
    display: inline-block;
}

.avatar {
    margin-right: $unit * 1.3;
    width: 40px;
    height: 40px;
}

.table {
    width: 100%;
    font-size: $font-size-small;
    border-spacing: 0;

    tbody tr:nth-child(odd) {
        background-color: $palette-indigo-50;
    }

    tr {
        border-spacing: 0;
    }

    td {
        padding: $unit $unit * 1.6;
    }

    td:first-child {
        font-weight: $font-weight-semi-bold;
    }

    td:last-child {
        color: $color-text-secondary;
    }
}

.centeredButtons {
    text-align: center;
}
